@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Open Sans,sans-serif;
}
.gift_value_section_start{
    background-image: url("../images/bg1.png");
    /* height:100vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gift_value_section_title{

}
.gift_value_section_left{

}
.gift_value_section_left h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}
.gift_value_section_right{

}
.gift_r_img_size{
    width: 80%;
}
/* delivery_section_start */
.delivery_section_start{
background-color:#FF466D;
}
.delivery_section_one{
border-right: 1px solid pink;
}
.delivery_section_one h3{
    padding-top:15px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
}
.delivery_section_common_img{

}
.gift_price_section_start{

}
.gift_price_section_details{

}
.gift_price_section_img{
position:relative;
height:400px;
}
.gift_price_section_img_para{
 text-align: center;
 position: absolute;
 top:20%;
 left:30%;
 right:30%;
}
.gift_price_section_img_para h2{

    line-height: 50px;
    font-weight:700;
}
.gift_price_section_img_para h1{
    color: red;
    line-height: 50px;
    font-weight: 700;
}
.gift_price_section_img_para .btn{
    background-color:red;
    color: white;
    padding: 10px 40px;
}
.gift_price_section_img_para .btn:hover{
    background-color:navy;
}
/* delivery_section_end */
/* Customized_Chocolet_start */
.Customized_Chocolet_start{
background-color: #FEF5F5;
}
.Customized_Chocolet_title{
 text-align: center;
}
.Customized_Chocolet_title h1{
    line-height: 50px;
    font-weight:700;
}
.Customized_Chocolet_one{
    background-color: white;
    border-radius: 10px;
    transition: all 0.7s;
}
.Customized_Chocolet_one_inner{
    background-color: white;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
}
.Customized_Chocolet_one h3{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}
.Customized_Chocolet_one p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #878497;
}
.Customized_Chocolet_one_inner img{
background-color: white;
padding: 15px;
background: #fff;
    box-shadow: 0 4px 57px rgba(0,0,0,.15);
    border-radius: 10px;
}
.Customized_Chocolet_one:hover{
background-color: red;
}
.Customized_Chocolet_one:hover .Customized_Chocolet_one_inner{
background-color:red;
color: white;
border-color:white;
}
.Customized_Chocolet_one:hover p{
    color: white!important;
}
/* Customized_Chocolet_end */
/* please_click_for_order_starts */
.please_click_for_order_starts{

}
.please_click_for_order_details{

}
.please_click_for_order_img{
position: relative;
}
.please_click_for_order_para{
position: absolute;
top:35%;
left: 10%;
right: 10%;
}
.please_click_for_order_para .btn{
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 15px;
}
.please_click_for_order_para h1{
    color: red;
    font-weight: bold;
}
.please_click_for_order_para h2{
    font-weight: 600;
    color: white;
}
/* please_click_for_order_end */
/* what_have_customize_box_start */
.what_have_customize_box_one{
    border-radius: 10px;
    overflow: hidden;
}
.what_have_customize_commn_img{

}
.what_have_customize_commn_img_main{

}
/* what_have_customize_box_end */
/* customer_review_section_start */
.customer_review_section_start[
    
]
.customer_review_section_one{

}
/* customer_review_section_end */
/* quickly_order_section_start */
.quickly_order_section_start{
    background-color: #FEF5F5;
}
.quickly_order_section_title{
 text-align: center;
}
.quickly_order_section_title h1{
    font-weight:bold;
}
/* quickly_order_section_end */
.quickly_order_section_left{

}
.quickly_order_section_left label{
    font-size: 30px;
    font-weight: 600;
}
.quickly_order_left_Payment{

}
.quickly_order_left_Payment_one{
background-color: white;
border-radius: 10px;
overflow: hidden;
}
.quickly_o_l_Pay_title{

}
.quickly_order_left_Payment_one p{
    background-color:#FE466D;
    font-weight: 600;
    margin-bottom: 0px;
}
/* quickly_order_section_left */
.quickly_order_section_right{

}
.quickly_order_right_details{
    border: 1px solid #D1D5DB;
    border-radius: 10px;
}
.quickly_order_right_de_one{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #D1D5DB;
}
.quickly_order_right_de_one h4{
 font-size: 20px;
 font-weight: 600;
}
.quickly_order_right_de_one h5{
font-size: 17px;
}
/* one_end */
.quickly_order_right_de_two{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 1px solid #D1D5DB;
}
.quickly_order_right_de_two_left{
 display: flex;
 align-items: center;
 justify-content:space-around;
}
.quickly_order_right_de_two_left p{
    margin-bottom: 0px;
    color: #878497;
    font-size: 14px;
    padding-left: 5px;
}
/* left_end */
.quickly_order_right_de_two_right{
 display: flex;
 align-content: center;
 justify-content: baseline;
}
.quickly_order_right_de_two_right h5{
    font-size: 17px;
  padding-left: 10px;
}
/* two_end */
.quickly_order_right_de_three{
 display: flex;
 justify-content:space-between;
 border-bottom: 1px solid #D1D5DB;
 align-items: center;
}
.quickly_order_right_de_three h5{
 font-size: 17px;
}
.quickly_order_right_de_three_part2{

}
/* quickly_order_right_de_four */
.quickly_order_right_de_four{
display: flex;
justify-content: space-between;
}
.quickly_order_right_de_four h5{
 font-weight: bold;
}
.quick_right_place_order_start{
    background-color: #FE466D;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.quick_right_place_order_start .btn{
    color: white;
    font-weight: 700;
    border: none;
}
    